.banner_box {
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 51%, rgba(19, 13, 106, 0.008547008547008517) 100%);
  color: #fff;
  text-align: center;
}

p {
  padding: 0.3rem;
}

.title {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.subititle {
  padding-top: 2rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #000;
}

.today_task {
  color: #fff;
}

.search_input {
  width: 80% !important;
  background: #fff !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}